
body {
    margin: 0;
    font-family: 'Source Sans Pro';
    background-color: #6D6875;
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6D6875;
    padding: 8px 30px;
}

.navbar__logo {
    font-size: 24px;
    color: white;
}

.navbar__logo i {
    color: white;
}

.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0;        
}

.navbar__menu li {
    padding: 8px 12px;
}

.navbar__menu li:hover {
    background-color: #B5838D;
    border-radius: 4px;
}

.navbar__icons {
    list-style: none;
    color: white;
    display: flex;
    padding: 0;
}

.navbar__icons li {
    padding: 8px 12px;
}

.navbar__icons li:hover {
    background-color: #B5838D;
    border-radius: 4px;
}

.navbar__toogleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: white;
}

.mainbg{
    width: 1519px;
    height: 667px;
    background: url(../pics/gspic.jpg) no-repeat center/cover;
}

.month {
    margin-left: 50px;
    margin-top: 37px;
    background: url(../pics/setting.png) no-repeat center/cover;
    width: 1437px;
    height: 100px;
    border-radius: 30px;
}

.day {
    margin-left: 50px;
    margin-top: 15px;
    background: url(../pics/setting.png) no-repeat center/cover;
    width: 1437px;
    height: 500px;
    border-radius: 30px;
    display: flex;
}

.day li {
    color: aliceblue;
    list-style: none;
}

.month li {
    padding-top: 20px;
    color: rgb(245, 244, 244);
    list-style: none;
    text-align : center;
    font-size: 40px;
}


@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar__menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar__menu li {
        width: 100%;
        text-align: center;
    }

    .navbar__icons {
        display: none;
        justify-content: center;
        width: 100%;
    }

    .navbar__toogleBtn {
        display: block;
    }

    .navbar__menu.active,
    .navbar__icons.active {
        display: flex;
    }
}